html, body {
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: "Gunnar Regular";
  src: url("Gunnar-Regular.ttf");
}

#loader {
    position: fixed;
    top: 78px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    background-color: rgba(255, 255, 255, .8);
}

#spinner {
    color: #b1d4f0;
    font-size: 64px;
}

#header {
    height: 78px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#product-link {
    margin-left: auto;
}

#page-container {
    display: flex;
    height: calc(100vh - 78px);
}

#aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #b1d4f0;
    padding: 20px;
    box-sizing: border-box;
}

#search-container {
    display: flex;
}

#geolocate-me {
    color: #5ec4ec;
    font-size: 18px;
    margin-left: 10px;
    border: none;
    border-radius: 22px;
    min-width: 45px;
    background-color: white;
    cursor: pointer;
}

.auto-search-wrapper, .auto-search-wrapper * {
    font-family: 'Gunnar Regular';    
}

#search {
    border-radius: 10px;
}

#locations {
    overflow: auto;
}

.location {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 6px 10px 6px 23px;
    font-family: 'Gunnar Regular';
    font-size: 18px;
    color: #0a0a0a;
    text-decoration: none;
}

.location-details {
    color: #9f9f9f;
    font-size: 12px;
    text-transform: uppercase;
}

.location-distance {
    margin-left: auto;
    margin-top: auto;
    font-size: 12px;
    color: #5ec4ec;
}

#map {
    height: 100%;
    width: 70%;
}

@media only screen and (max-width: 800px) {
    #page-container {
        flex-direction: column;
    }

    #aside {
        height: calc(55vh - 39px);
        width: 100%;
    }

    #map {
        height: calc(45vh - 39px);
        width: 100%;
    }
}